<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KiBor's VKR app</title> 
    
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/krasivoe.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Kirill Borovikov VKR App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Введите параметры материала</h1>
        <form class="form-signin">
        <label for="param1" class="sr-only">param1</label>
        <input type="name" name="param1" id="param1" class="form-control" placeholder="Плотность, кг/м3" required autofocus>       
		<label for="param2" class="sr-only">param2</label>
        <input type="name" name="aram2" id="param2" class="form-control" placeholder="модуль упругости, ГПа" required autofocus>
        <label for="param3" class="sr-only">param3</label>
        <input type="name" name="param3" id="param3" class="form-control" placeholder="Количество отвердителя, м.%" required autofocus>
        <label for="param4" class="sr-only">param4</label>
        <input type="name" name="aram4" id="param4" class="form-control" placeholder="Содержание эпоксидных групп,%_2" required autofocus>
        <label for="param5" class="sr-only">param5</label>
        <input type="name" name="param5" id="param5" class="form-control" placeholder="Температура вспышки, С_2" required autofocus>
        <label for="param6" class="sr-only">param6</label>
        <input type="name" name="param6" id="param6" class="form-control" placeholder="Поверхностная плотность, г/м2" required autofocus>
        <label for="param7" class="sr-only">param7</label>
        <input type="name" name="param7" id="param7" class="form-control" placeholder="Модуль упругости при растяжении, ГПа" required autofocus>
        <label for="param8" class="sr-only">param8</label>
        <input type="name" name="param8" id="param8" class="form-control" placeholder="Прочность при растяжении, МПа" required autofocus>
        <label for="param9" class="sr-only">param9</label>
        <input type="name" name="param9" id="param9" class="form-control" placeholder="Потребление смолы, г/м2" required autofocus>
        <label for="param10" class="sr-only">param10</label>
        <input type="name" name="param10" id="param10" class="form-control" placeholder="Угол нашивки, град" required autofocus>
        <label for="param11" class="sr-only">param11</label>
        <input type="name" name="param11" id="param11" class="form-control" placeholder="Шаг нашивки" required autofocus>
        <label for="param12" class="sr-only">param12</label>
        <input type="name" name="param12" id="param12" class="form-control" placeholder="Плотность нашивки" required autofocus>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Подтвердить</button>
      </form>
      </div>	
 
       
 
      <footer class="footer">
        <p>&copy; 2022</p>
      </footer>
 
    </div>
  </body>
</html>
